body {
  color: @base;
  font-family: @base-font-family;
}

.counter-click {
	margin-bottom: 20px;
}

.feature {
	font-family: @merriweather-font-family;
	font-weight: 300;
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 20px;
	
}

.feature-heading {
	&:extend(.clearfix all);
	margin-bottom: 4px;

	> h3 {
		margin-top: 30px; 
		font-weight: 300;
	}

	> img.pull-left {
		margin-right: 10px;
	}

	> img.pull-right {
		margin-left: 10px;
	}
}


.logotype {
	font-family: @merriweather-font-family;
	color: white;
	font-style: italic;
	font-size: 62px;
}

.floral-divider {
	width: 168px;
	height: 14px;
	background: url(../images/header-divider.png) no-repeat;
	display: inline-block;
}


// main nav
.main-nav {
	position: absolute;
	width: 100%;
	height: auto;
}

.main-nav-inner {
	padding: 20px;
	&:extend(.clearfix all);
}

.hamburger {
	display: inline-block;
	float: right;

	> span {
		display: block;
		width: 26px;
		margin: 4px 8px;
		background-color: rgba(255, 255, 255, 0.6);
		height: 3px;
		.transition(all 0.16s ease-in-out);
	}

	&:hover > span,
	&:active > span{
		background-color: rgba(255, 255, 255, 0.9);
	}
}

.homepage-section {
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
}

// testimonial section
// -------------------------------------------------- 

.testi {
	padding-top: 20px;
}

