html {
  position: relative;
  min-height: 100%;
}

body {
  color: @base;
  font-family: @base-font-family;
  margin-bottom: 274px;

  &#admin-pages {
    margin-bottom: 40px;
    background-color: #f3f3f3;
  }
}

.subheadline {
  font-family: @merriweather-font-family;
}

.counter-click {
  margin-bottom: 20px;
}

.feature {
  font-family: @merriweather-font-family;
  font-weight: 300;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.feature-heading {
  &:extend(.clearfix all);
  margin-bottom: 4px;

  > h3 {
    margin-top: 30px;
    font-weight: 300;
  }

  > img.pull-left {
    margin-right: 10px;
  }

  > img.pull-right {
    margin-left: 10px;
  }
}


.logoset {
  display: block;
}

.floral-divider {
  width: 168px;
  height: 14px;
  margin-top: 32px;
  background: url(../images/header-divider.png) no-repeat;
  display: inline-block;
}


// main nav
.main-nav {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

.main-nav-inner {
  padding: 30px 50px;
  &:extend(.clearfix all);

  > .logoset {
    .opacity(0.8);
    float: left;
    .transition(all 0.16s ease-in-out);

    &:hover,
    &:focus {
      .opacity(1);
    }
  }
}

.hamburger-icon {
  display: inline-block;
  float: right;

  > span {
    display: block;
    width: 26px;
    margin: 4px 8px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 3px;
    .transition(all 0.16s ease-in-out);
  }

  &:hover > span,
  &:active > span{
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#homepage {
  .main-nav {
    .logoset {
      display: none;
    }
  }
}

.homepage-section,
.section {
  padding-top: 10px;
  padding-bottom: 24px;
}

.homepage-section{
  border-bottom: 1px solid #dfdfdf;
}

#customer {
  border: none;
}

#action-section  {
  background-color: #65C6BB;
  color: white;
  padding-top: 20px;
  border-color: transparent;

  h2 {

    font-weight: 400;

    & + div.text-center {
      color: rgba(255, 255, 255, 0.75);
      font-family: @merriweather-font-family;
    }
  }

  .homepage-form > button {
    .box-shadow(inset 0 0 0 2px rgba(255, 255, 255, 0.4));

    &:hover {
      color: #65C6BB;
    }
  }
}

// testimonial section
// --------------------------------------------------

#testimonial {
  background-color: #dbf3f0;
  border-top: 5px solid #d7f0ed;
}

.testi {
  padding-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.testi-inner {
  margin: 0 100px;
  &:extend(.clearfix all);
  background-color: white;
  font-family: @merriweather-font-family;
  font-weight: 300;
  line-height: 24px;
  border-radius: 6px;
  overflow: hidden;
  .box-shadow(0 2px 2px 1px rgba(85, 179, 168, 0.1));
  position: relative;


  > .testi-pic {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        border: 20px solid white;
        border-color: white white transparent transparent;
        top: 0;
        right: 0;
      }

    > img {
      position: absolute;
      top: -100%;
      bottom: -100%;
      right: -100%;
      left: -100%;
      margin: auto;
    }

  }

  > p {
    padding: 23px 30px;
    margin: 0;

    > em {
      font-weight: 400;
      color: #777;
    }
  }
}

.testi-control {
  position: absolute;
  width: 100%;
  bottom: 30px;
  padding: 0 10px;

  > a {
    color: white;
    text-shadow: 0 2px 1px rgba(85, 179, 168, 0.5);


    > .fa {
      font-size: 80px;
    }
  }
}


.homepage-form {
  margin: 30px auto;

  > .form-group > input{
    height: 51px;
    border-color: rgba(0, 0, 0, 0.35);
  }

  .btn {
    padding: 12px 24px;
  }

  > .form-group > input,
  .btn {
    font-size: 18px;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.08))

  }
}


//// Pricing Section
// --------------------------------------------------

.pricing {
  margin-top: 20px;
  position: relative;
  &:extend( .clearfix all);

}

.price-card {
  width: 25%;
  float: left;
  font-family: @merriweather-font-family;
  text-align: center;
  padding-top: 24px;
  background-color: white;

  &-inner {
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 5px;
  overflow: hidden;
  }

  &-pop {
    padding-top: 0;
    z-index: 2;

    .price-card-color(@turquoise);

    > .price-card-inner {
      border-radius: 8px;
    }

    .price-label,
    .price-amount {
      padding: 17px 10px;
    }



    .price-action {
      padding: 14px 12px 20px;
    }
  }

  &:first-child > .price-card-inner {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child > .price-card-inner {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.price-label {
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  background-color: #bbb;
  color: white;
  margin: 0;
}

.price-amount {
  color: white;
  background-color: #ccc;
  font-size: 52px;
  font-weight: 500;
  padding: 12px 8px;

  > span {
    display: block;
    font-size: 16px;
    font-weight: 300;
  }
}

.price-feature {
  padding: 8px 14px;
  font-weight: 300;
  color: #555;
  margin: 0;

  > li {
    padding: 10px 4px;
    border-bottom: 1px solid #f3f3f3;
  }
}

.price-action {
  padding: 8px 12px 12px;

  > .price-btn-free {
    display: none;
  }

}

@media screen and (max-width: 723px) {
  .pricing {
    max-width: 500px;
    margin: 10px auto;
  }

  .price-card {
    width: 50%;
    padding-top: 24px;
  }

  .price-card-inner {
    border-radius: 8px;
  }

  .price-label {
    padding: 10px !important;
  }

  .price-amount {
    padding: 18px 12px !important;
  }

  .price-action {
    padding: 8px 12px 12px !important;
  }
}

@media screen and (max-width: 480px) {
  .pricing {
    max-width: 400px;
    margin: 10px auto;
  }

  .price-label {
    font-size: 18px;
  }

  .price-amount {
    font-size: 40px;
  }

  .price-action {
    > button {
      > span {
        display: block;
      }
    }

    > .price-btn-xs-hide {
      display: none;
    }

    > .price-btn-free {
      display: block;
    }
  }
}

#pricing-action-section {
  background-color: #f5f5f5;
  border-top: 2px solid #eee;

  .input-group {
    margin: 20px;

    > input {
      background-color: #f5f5f5;
      border-color: @brand-primary;
      .box-shadow(none);

      &:focus,
      &:active {
        .box-shadow(inset 0 0 3px @brand-primary);
        background-color: #fafafa;
      }
    }
  }
}

// Price card coloring
.price-card-blue {
  .price-card-color(@flat-blue);
}

.price-card-yellow {
  .price-card-color(@flat-yellow);
}

.price-card-green {
  .price-card-color(@flat-green);
}
