//
// Heading
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @merriweather-font-family;
  font-weight: 300;
}



//
// Text indent
//

.text-indent(@value: -9999px, @font-size: 1px, @line-height: 1) {
  font-size: @font-size;
  line-height: @line-height;
  text-indent: @value;
}


//
// Placeholder
//

.placeholder(@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &:-moz-placeholder {
    color: @color;
  }

  &::-moz-placeholder {
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}


//
// Display
//

.inline-block() {
  display: inline-block;

  .lt-ie8 & when (@is-oldie) {
    display: inline;
    zoom: 1;
  }
}


//
// Min height / width
//

.min-height(@height) {
  .lt-ie8 & when (@is-oldie) {
    height: auto !important;
    height: @height;
  }

  min-height: @height;
}

.min-width(@width) {
  .lt-ie8 & when (@is-oldie) {
    width: auto !important;
    width: @width;
  }

  min-width: @width;
}

//
// price card coloring
//

.price-card-color(@color) {

  .price-label {
    background-color: @color;
  }

  .price-amount {
    background-color: lighten(@color, 10%);
  }
}

//
// Button Outline
//
.button-outline-variant(@color; @xcolor) {
  color: @color;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.3);

  &:focus,
  &.focus {
    color: @xcolor;
    background-color: darken(@color, 5%);
        border-color: darken(@color, 10%);
  }
  &:hover {
    color: @xcolor;
    background-color: @color;
        border-color: @color;
  }
  &:active,
  &.active {
    color: @xcolor;
    background-color: darken(@color, 5%);
        border-color: darken(@color, 7%);
  }
}

.btn-edge {

  .button-outline-variant(#777; #fff);
}

.btn-edge-lite {
  .button-outline-variant(#fff; #555);
  border-color: rgba(255, 255, 255, 0.5);
}




//
// re-coloring
//
// Links

// a {
//   color: @link-color;
//   text-decoration: none;

//   &:hover,
//   &:focus {
//     color: @link-hover-color;
//     text-decoration: @link-hover-decoration;
//   }
// }

